langchain==0.3.3
langchain-community==0.3.2
torch==2.4.1
accelerate==1.0.1
transformers==4.45.2
sentence-transformers==3.2.0
streamlit==1.39.0
streamlit_chat==0.1.1  # Update to a valid version
faiss-cpu==1.9.0 # Specify a version if necessary
altair==5.4.1
#tiktoken==0.3.1
huggingface-hub>=0.25.2 # Adjust to match transformers requirements
pypdf==5.0.1
pydantic==2.9.2
requests==2.28.1
tokenizers==0.20.1
