langchain==0.3.2
torch==2.0.1
accelerate==0.18.0
transformers==4.34.0
sentence-transformers==2.2.2
streamlit==1.23.0
streamlit_chat==0.0.2
faiss-cpu==1.7.2
altair==4.2.0
tiktoken==0.3.0
huggingface-hub==0.15.1
langchain-community==0.3.2
pypdf==3.9.0
requests==2.31.0
